<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>IDinfo</string>
			<key>vcClass</key>
			<string>JWLoginViewController</string>
			<key>title</key>
			<string>消息和推送</string>
			<key>accessory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>IDinfo</string>
			<key>title</key>
			<string>90944</string>
			<key>accessory</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>IDinfo</string>
			<key>title</key>
			<string>消息和推送</string>
			<key>accessory</key>
			<string>0</string>
		</dict>
	</array>
</array>
</plist>
